<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015.
  ~   This document is just for Bruce's personal study.
  ~   Some resources come from the Internet. Everyone can download and use it for study, but can
  ~   not be used for commercial purpose. The author does not bear the
  ~   corresponding disputes arising therefrom.
  ~   Please delete within 24 hours after download.
  ~   If you have good suggestions for this code, you can contact BurrceHurrican@foxmail.com.
  ~   本文件为Bruce's个人学习android的demo, 其中所用到的代码来源于互联网，仅作为学习交流使用。
  ~   任和何人可以下载并使用, 但是不能用于商业用途。
  ~   作者不承担由此带来的相应纠纷。
  ~   如果对本代码有好的建议，可以联系BurrceHurrican@foxmail.com
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bruce.study.demo"
          android:versionCode="1"
          android:versionName="1.0"
          android:installLocation="preferExternal"><!-- 此属性 优先将APP安装在SD卡中 -->
    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="21"/>
    <!-- 获取联网权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取写入SDcard 权限 -->
    <uses-permission android:name="ANDROID.PERMISSION.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="ANDROID.PERMISSION.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 横竖屏切换 权限 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <!-- 蓝牙相关权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- @targetAPI 19 -->
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <!-- ======================================华丽丽的分隔线===================================== -->
    <application
            android:name=".DemoApplication"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@drawable/icon_workdemo">
        <activity
                android:name=".MainActivity"
                android:launchMode="singleTask"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".util_demo.PhoneInfoActivity"
                android:launchMode="singleTop"/>
        <!-- github开源项目练习 -->
        <activity
                android:name=".github.swipe_refresh_layout_demo.SwipeRefreshLayoutActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".github.shape_loading_demo.ShapeLoadingActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".github.parallax_listview_demo.ParallaxActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".github.custom_shape_imageview_demo.CustomShapeImageViewActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".github.bluetooth_demo1.BTDemo1Activity"
                android:launchMode="singleTop"/>
        <!-- 学习资料demo练习 -->
        <activity
                android:name=".studydata.viewpage.ViewPagerActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.masking_buttons.MaskingActivity"
                android:launchMode="singleTop"/>

        <activity
                android:name=".studydata.handler_thread.HandlerThreadDemoActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.volley_demo.VolleyActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.recyclerview_demo.RecyclerActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.imageviewdemo1.ImageViewDemo1Activity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.mybutton_demo1.MyButtonDemo1Activity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.bluetooth_demo1.BlueTooth1Activity"
                android:launchMode="singleTop"/>
        <!-- it黑马demo -->
        <activity
                android:name=".studydata.itheima_lihuoming.popup_window.PopupWindowActivity"
                android:launchMode="singleTop"/>
        <!-- Android开发经典案例60个demo -->
        <activity
                android:name=".studydata.demos60.activity_life_style.LifeStyleActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.activity_life_style.LifeStyleOtherActivity"
                android:theme="@android:style/Theme.Dialog"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.button_project.ButtonProject"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.imagebutton_project.ImageButtonActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.edittext_project.EditTextActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.checkbox_project.CheckBoxActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.radiobutton_project.RadioButtonActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.progressbar_project.ProgressBarActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.seekbar_project.SeekBarActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.tab_project.MyTabActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.baseadapter_project.BaseAdapterActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.dialog_project.DialogActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.switch_screen_project.SwitchScreenActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.game_view_framework_project.GameViewActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.surfaceview_project.SurfaceViewActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.bezier_project.BezierActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.canvas_project.CanvasActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.paint_project.PaintActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.bitmap_project.BitmapActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.clip_canvas_project.ClipCanvasActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.animation_project.AnimationActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.bitmap_active_project.BitmapActiveActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.animation_frame_project.FrameActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.clip_bitmap_movie_project.ClipBitmapMovieActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.player_project.PlayerActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.rectcollision_project.RectCollisionActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.circlecollision_project.CircleCollisionActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.rectcollision2_project.RectCollisionActivity2"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.regioncollision_project.RegionCollisonActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.mediaplayer_project.MediaPlayerActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.soundpool_project.SoundPoolActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.httpclient.MyHttpClientActivity"
                android:launchMode="singleTop"/>
        <!-- 谷歌API demo 练习 -->
        <activity
                android:name=".studydata.google_api_demos.bluetoothchat_demo.BlueToothChatActivity"
                android:launchMode="singleTop"
                android:configChanges="keyboardHidden|orientation"/>
        <activity
                android:name=".studydata.google_api_demos.bluetoothchat_demo.BlueToothChatListActivity"
                android:launchMode="singleTop"
                android:theme="@android:style/Theme.Dialog"
                android:label="@string/select_device"
                android:configChanges="keyboardHidden|orientation"/>
    </application>
</manifest>
