<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015.
  ~   This document is just for Bruce's personal study.
  ~   Some resources come from the Internet. Everyone can download and use it for study, but can
  ~   not be used for commercial purpose. The author does not bear the
  ~   corresponding disputes arising therefrom.
  ~   Please delete within 24 hours after download.
  ~   If you have good suggestions for this code, you can contact BurrceHurrican@foxmail.com.
  ~   本文件为Bruce's个人学习android的demo, 其中所用到的代码来源于互联网，仅作为学习交流使用。
  ~   任和何人可以下载并使用, 但是不能用于商业用途。
  ~   作者不承担由此带来的相应纠纷。
  ~   如果对本代码有好的建议，可以联系BurrceHurrican@foxmail.com
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bruce.study.demo"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="21"/>
    <!-- 获取联网权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取写入SDcard 权限 -->
    <uses-permission android:name="ANDROID.PERMISSION.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="ANDROID.PERMISSION.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 横竖屏切换 权限 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <!-- ======================================华丽丽的分隔线===================================== -->
    <application
            android:name=".DemoApplication"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@drawable/icon_workdemo">
        <activity
                android:name=".MainActivity"
                android:launchMode="singleTask"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".util_demo.PhoneInfoActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name="com.bruce.study.demo.swipe_refresh_layout_demo.SwipeRefreshLayoutActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".shape_loading_demo.ShapeLoadingActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".parallax_listview_demo.ParallaxActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.viewpage.ViewPagerActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.masking_buttons.MaskingActivity"
                android:launchMode="singleTop"/>

        <activity
                android:name=".studydata.handler_thread.HandlerThreadDemoActivity"
                android:launchMode="singleTop"/>
        <!-- it黑马demo -->
        <activity
                android:name=".studydata.itheima_lihuoming.popup_window.PopupWindowActivity"
                android:launchMode="singleTop"/>
        <!-- Android开发经典案例60个demo -->
        <activity
                android:name=".studydata.demos60.activity_life_style.LifeStyleActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.activity_life_style.LifeStyleOtherActivity"
                android:theme="@android:style/Theme.Dialog"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.button_project.ButtonProject"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.imagebutton_project.ImageButtonActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.edittext_project.EditTextActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.checkbox_project.CheckBoxActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.radiobutton_project.RadioButtonActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.progressbar_project.ProgressBarActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.seekbar_project.SeekBarActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.tab_project.MyTabActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.baseadapter_project.BaseAdapterActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.dialog_project.DialogActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.switch_screen_project.SwitchScreenActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.game_view_framework_project.GameViewActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.surfaceview_project.SurfaceViewActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.bezier_project.BezierActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.canvas_project.CanvasActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.paint_project.PaintActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".studydata.demos60.bitmap_project.BitmapActivity"
                android:launchMode="singleTop"/>
    </application>
</manifest>
