<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bruce.study.demo"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="21"/>
    <application
            android:name=".DemoApplication"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@drawable/icon_workdemo">
        <activity
                android:name="MyActivity"
                android:launchMode="singleTop"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.bruce.study.demo.swipe_refresh_layout_demo.SwipeRefreshLayoutActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".shape_loading_demo.ShapeLoadingActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".parallax_listview_demo.ParallaxActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".studydata.itheima_lihuoming.popup_window.PopupWindowActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".studydata.ActivityLifeStyle.LifeStyleActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".studydata.ActivityLifeStyle.LifeStyleOtherActivity"
                android:theme="@android:style/Theme.Dialog"
                android:launchMode="singleTask"/>
    </application>
</manifest>
